body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: green;

}
#cabecera 
{
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}
#cabecera #tagline
{
    padding: 0 0 0 lem;
    font-weight: normal;
    font-size: 0.8em;
}


#container 
{
    width: 70%;
    padding: lem;
    text-align: left;
    border:1px solid #DDD;
    margin: 0 auto
}

#container h1
{
    font-size: 20px;
}